body{
    background-color: rgb(159, 159, 249);
}
hr{
    border: 1px solid black;
    background-color: black;
}
.container{
    width: 350px;
    height: 500px;
    margin: 15px auto;
}
.calculator{
    text-align: center;
    width: 250px;
    height: 400px;
    padding-top: 10px;
    background-color: grey;
    box-shadow: 5px 8px black;
    margin: auto;
    border-radius: 20px;
}
.keyboard{
    height: 450px;
}
.operator, .number, .empty{
    height: 50px;
    width: 50px;
    margin: 4px;
    border-radius: 50%; 
    font-weight: bold;
    background-color: rgb(136, 222, 222);
    box-shadow: 1px 1.5px white;
}
#Clear{
    background-color: rgb(246, 66, 66);
}
#Backspace{
    background-color: rgb(226, 115, 226);
}
.operator{
    background-color: rgb(148, 148, 238);
}
#display{
    background-color: black;
    padding: 12px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: px;
    border-radius: 20px;
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: "Courier New", "Monospace";
}