html {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url("restaurantimage.jpg");
    background-size: 1300px;
    width: 1000;
    height: 300px;
}
#name{
    font-size: 25px;
    text-align: left;
    display: inline-block;
}
.navbar {
    color: white;
    font-family: Lucida Console, Monaco, Monospace;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

a:link {
    padding-top: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

a:visited {
    background-color: #FEFAF6;
    color: white;
    text-shadow: 10px 10px 10px black;

}

.bold {
    text-shadow: 5px 5px 5px lightblue;
    font-size: 33px;
}


.main-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#text2{
    color: white;
    font-family: system-ui;
    padding-top: 0;
    text-align: center;
    font-size: 28px;
    text-shadow: 4px 4px 4px black;
}
#description{
    text-align: center;
    color: black;
    background-color: rgb(246, 246, 251);
    height: 330px;
    width: 350px;
    border-radius: 25px;
    margin-left: 450px;
}
#abt{
    padding-left: 560px;
    color: rgb(239, 148, 148);
    text-shadow: 3px 2px 2px purple;
}
#button{
    background-color: rgb(237, 105, 105);
}
.reservation{
    color: rgb(239, 148, 148);
}
.container-fluid {
    background-color: rgb(255, 148, 148);
}
#titles{
    text-align: center;
}
#link1 {
    padding-left: 18px;
    border: 2px solid black;
    width: 8rem;
    height: 2.5rem;
    border-radius: 15px;
    color: red;
}

#link1:hover {
    text-decoration: underline;
}
#link2 {
    padding-left: 18px;
    border: 2px solid black;
    width: 8rem;
    height: 2.5rem;
    border-radius: 15px;
    color: rgb(254, 254, 61);
}

#link2:hover {
    text-decoration: underline;
}
#link3 {
    padding-left: 18px;
    border: 2px solid black;
    width: 8rem;
    height: 2.5rem;
    border-radius: 15px;
    color: blue;
}

#link3:hover {
    text-decoration: underline;
}
#link4 {
    padding-left: 18px;
    border: 2px solid black;
    width: 8rem;
    height: 2.5rem;
    border-radius: 15px;
    color: rgb(92, 134, 134);
}

#link4:hover {
    text-decoration: underline;
}

.container-fluid-new {
    background-color: rgb(55, 47, 47);
    text-align: center;
    text-decoration: none;
    height: 7rem;
}

#rights {
    text-decoration: none;
    color: rgb(255, 223, 64);
    opacity: 0.5;
}

#rights:hover {
    opacity: 1;
    text-decoration: none;
}

#copy{
    color: grey;
}