body{
    background-color: rgb(130, 68, 206);
    background-image: url("tennis.jpg");
    background-image: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.navigation-link{
    color: black;
    text-decoration: none;
}
.navigation-link:hover{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(177, 177, 0);
}
.new-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}